<div class="main_head">
  <div class="left_head">
    <div class="chat_title">
      チャットX
    </div>
  </div>
  <div class="right_head">
    <div class="chat_end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="main_body">
  <div class="messages">
    <div class="message_high">
      <div class="message_user">
        shin
      </div>
      <div class="message_date">
        2020/3/18(sun) 13:18:11
      </div>
    </div>
    <div class="message_low">
      <div class="message">
        おはよ
      </div>
    </div>
  </div>
  <div class="messages">
    <div class="message_high">
      <div class="message_user">
        sayu
      </div>
      <div class="message_date">
        2020/3/18(sun) 13:19:45
      </div>
    </div>
    <div class="message_low">
      <div class="message">
        おはよう
      </div>
    </div>
  </div>
</div>
<div class="main_foot">
  <div class="form_input">
    <input class="form_message" placeholder= "type a message">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
</div>